.app-container {
  margin: auto; 
  width: 400px;
}

.dog-food-cont {
  margin-bottom: 5px;
}

.dog-food-div {
  display: flex;
}

.paper-spacing {
  padding: 20px
}

.section {
  font-family: "Roboto", sans-serif;
  margin: 5px;
  overflow: hidden;
  padding: 5px;
}

.label {
  display: inline-block;
  font-weight: bold;
  width: 150px;
}

.label + div {
  display: inline-block;
}
